{%extends "spotify/base.html"%} {%load crispy_forms_tags%} {%block content%}
<div class="content-section m-5">
  <div class="media">
    <div class="media-body">
      <h2 class="border-bottom account-heading">Reset Password</h2>
      <br />
      <!--break-->
    </div>
  </div>
  <form method="POST">
    <!-- this is required for extra security -->
    {%csrf_token%}
    <fieldset class="form-group">
      <!-- renders form as paragraph tags -->
      {{form|crispy}}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Reset Password</button>
    </div>
  </form>
</div>
{%endblock content%}