{%extends "spotify/base.html"%} {%block content%}

<div class="content-section m-5">
  <div class="media">
    <div class="media-body">
      <h2 class="border-bottom account-heading">Sorry to See You Go!</h2>
      <br />
      <!--break-->
      <p class="account-detail">
        You can always create a new account by clicking the "Create an Account"
        button below.
      </p>
    </div>
  </div>
  <div class="border-top pt-3">
    <a href="{%url 'register'%}"><button class="btn btn-outline-info">Create an Account</button></a>
  </div>
</div>
{%endblock content%}