{%extends "spotify/base.html"%} {%block content%}
<div class="display-3 display-custom mt-5">Wait a Minute....</div>
<h5 class="purple-text">Whats going on?</h5>
<div class="content-section mt-5 mb-5 purple-text">
  <h5 class="purple-text">How does MusicMonolith Work?</h5>
  <p class="purple-text-dark ml-5">
    MusicMonolith connects directly to Spotify and searches for playlists relevant to your search criteria. Once
    playlists are found, a list is displayed along with methods of contacting the playlist curator. Wanna keep track of
    all the playlists and curators you find along the way? Download the CSV file in your recent searches found in your
    account. Feeling fancy?...You can directly upload the CSV file to Microsoft Excel or Google Sheets for a hassle free
    spreadsheet format.
  </p>
</div>
<div class="content-section mt-5 mb-5 purple-text">
  <h5 class="purple-text">Why didn't the instagram button work?</h5>
  <p class="purple-text-dark ml-5">
    Sometimes the instagram handle that the user provided has changed or the AI
    that finds it was tricked into thinking it was something else.
  </p>
</div>
<div class="content-section mt-5 mb-5 purple-text">
  <h5 class="purple-text">Why do I need an account?</h5>
  <p class="purple-text-dark ml-5">
    We require an account because future MusicMonolith integrations may be
    depenant on Spotify credentials and permissions. Don't worry, this just
    means we may implement cool features like "Create Me a Playlist Based off of
    Songs Similiar to Mine". Pretty neat huh?
  </p>
</div>
<div class="content-section mt-5 mb-5 purple-text">
  <h5 class="purple-text">I forgot my password...is that bad?</h5>
  <p class="purple-text-dark ml-5">
    Not at all! Just click the little button that says "forgot password?" when
    you are signing in.Ta-dah! You got your account back.
  </p>
</div>
<div class="content-section mt-5 mb-5 purple-text">
  <h5 class="purple-text">What is MusicMonolith?</h5>
  <p class="purple-text-dark ml-5">
    Hi! My name is Ben, I make music too. I made this for myself to help promote my own music and I figured
    everyone could enjoy it. Find me @kahoneconcept on social media and Spotify!
  </p>
</div>
{%endblock content%}