{%extends "spotify/base.html"%}
{%block content%}
<div class="display-3 display-custom mt-5">First Timer?</div>
<h5 class="purple-text">Don't worry, we got you covered.</h5>
<div class="content-section mt-5 mb-5 purple-text">
  <h1 class="purple-text">Search</h1>
  <p class="purple-text-dark ml-5">
    Promoting a rock song? Great, try typing in "rock". Is your song the next
    heartbreak hit? Fanastic! Try searching "broken heart". Type in a genre,
    mood, adjective, or what ever you think describes your song. There are
    playlists for everything. Let's find them!
  </p>
  <h1 class="purple-text">Play</h1>
  <p class="purple-text-dark ml-5">
    Does a playlist named "90's Rap Revisited" sound like the type that would
    enjoy your death-core song? Maybe not. Play a few songs in the playlist to
    see if your song would be a great addition. If it is, let's get to the fun
    part!
  </p>
  <h1 class="purple-text">Pitch</h1>
  <p class="purple-text-dark ml-5">
    There are over 60,000 tracks uploaded to Spotify every day. Playlisters are
    busy people and any time saved is appreciated. Want the upper hand? Do the
    work for them! Describe why your song fits perfectly with their playlist.
    You may even want to mention a specific track included in the playlist that
    your song would pair well with. What are you waiting for? Let's get to work!
  </p>
</div>
{%endblock content%}